body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    color: #F9FAF8;
}

.header,
.footer,
.hero,
.info,
.quote,
.cta {
    display: flex;
    flex: 1 1 auto;
    padding: 16px 128px;
}

.hero,
.info,
.quote,
.cta {
    height: 400px;
}

.header,
.footer,
.hero {
    background-color: #1F2937;
}

a {
    text-decoration: none;
}

.secondary,
.footer,
.hero-subtext,
.cta-text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
}

.header-right ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.hero-image-container{
    display: flex;
    align-items: center;
}

.hero-image {
    max-width: 500px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

button{
    background-color: #3882F6;
    padding: 4px 8px;
    width: 128px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: #F9FAF8;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
}

.info-title{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.card, .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    margin-top: 32px;
    gap: 32px;
    justify-content:flex-start;
}

.card-text{
    color:#1F2937;
    font-size: 18px;
    text-align: center;
}

.card-image{
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.card-image, .card-text{
    max-width: 150px;
}

.cards-container{
    display: flex;
    gap:18px;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
    width: 600px;
}

.quote-source{
    color:#1F2937;
    width: 600px;
    font-weight:bold;
    text-align: right;
}

.cta, .cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container{
    background-color: #3882F6;
    justify-content: space-between;
    padding: 32px 128px;
    border-radius: 8px;
    flex-grow: 1;
}

.cta-container button{
    border: 1px solid #F9FAF8;
}

.cta-header{
    font-size: 24px;
    font-weight: 700;
}